.split {
  display: inline-flex;
  gap: var(--gap);

  &[is-vertical] {
    flex-direction: column;
  }

  & > * {
    overflow: hidden;
    border-radius: var(--shape-inner);
  }

  &:not([is-vertical]) {
    & > :first-child {
      border-radius: var(--shape) var(--shape-inner) var(--shape-inner) var(--shape);
    }

    & > :last-child {
      border-radius: var(--shape-inner) var(--shape) var(--shape) var(--shape-inner);
    }
  }

  &[is-vertical] {
    & > :first-child {
      border-radius: var(--shape) var(--shape) var(--shape-inner) var(--shape-inner);
    }

    & > :last-child {
      border-radius: var(--shape-inner) var(--shape-inner) var(--shape) var(--shape);
    }
  }

  &[is-equal] {
    &:not([is-vertical]) > * {
      flex: 1 1 0;
    }

    &[is-vertical] > * {
      flex: 1 1 0;
    }
  }

  & > :only-child {
    border-radius: var(--shape);
  }
}
