.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.container > div {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.container > div:global(.inactive) {
  visibility: hidden;
  pointer-events: none;
  z-index: 0;
}

.container > div:global(.active) {
  z-index: 1;
}
