@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap);
.container-EpshGK {
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
  position: fixed;
}

.snackbar-_yUNUQ {
  border-radius: var(--md-sys-shape-corner-full);
  background-color: var(--md-sys-color-surface-container);
  box-sizing: border-box;
  --dim: 0;
  justify-content: flex-start;
  align-items: center;
  max-width: 2.5em;
  padding: .5rem .75em;
  display: flex;
  position: absolute;
  overflow: hidden;

  &:after {
    content: "";
    pointer-events: none;
    background-color: var(--md-sys-color-background);
    opacity: var(--dim);
    position: absolute;
    inset: 0;
  }

  @media screen and (width <= 46.25rem) {
    max-width: 20rem;
  }
}

.content-H5uncm {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  width: fit-content;
  display: flex;

  & span {
    white-space: nowrap;
  }

  & .prefix-n6su_X:empty, & .suffix-JyMx6m:empty {
    display: none;
  }

  & .prefix-n6su_X:not(:empty), & .suffix-JyMx6m:not(:empty) {
    justify-content: center;
    align-items: center;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
  }
}

.grabbox-_VhZPI {
  position: absolute;
  inset: 0;
}

.button-NPuoF8 {
  gap: var(--label-gap, .5em);
  overflow: hidden;

  &.elevated-en6EMy {
    --md-elevated-button-container-height: var(--height);
    --md-elevated-button-leading-space: var(--x-spacing);
    --md-elevated-button-trailing-space: var(--x-spacing);
    --md-elevated-button-label-text-size: var(--font-size);
    --md-elevated-button-label-text-weight: var(--weight);
    --md-elevated-button-container-shape: var(--shape);
    --md-elevated-button-icon-size: var(--icon-size);
  }

  &.filled-cczKpW {
    --md-filled-button-container-height: var(--height);
    --md-filled-button-leading-space: var(--x-spacing);
    --md-filled-button-trailing-space: var(--x-spacing);
    --md-filled-button-label-text-size: var(--font-size);
    --md-filled-button-label-text-weight: var(--weight);
    --md-filled-button-container-shape: var(--shape);
    --md-filled-button-icon-size: var(--icon-size);
  }

  &.filled-tonal-Q0h5ff {
    --md-filled-tonal-button-container-height: var(--height);
    --md-filled-tonal-button-leading-space: var(--x-spacing);
    --md-filled-tonal-button-trailing-space: var(--x-spacing);
    --md-filled-tonal-button-label-text-size: var(--font-size);
    --md-filled-tonal-button-label-text-weight: var(--weight);
    --md-filled-tonal-button-container-shape: var(--shape);
    --md-filled-tonal-button-icon-size: var(--icon-size);
  }

  &.outlined-Lua3lF {
    --md-outlined-button-container-height: var(--height);
    --md-outlined-button-leading-space: var(--x-spacing);
    --md-outlined-button-trailing-space: var(--x-spacing);
    --md-outlined-button-label-text-size: var(--font-size);
    --md-outlined-button-label-text-weight: var(--weight);
    --md-outlined-button-container-shape: var(--shape);
    --md-outlined-button-icon-size: var(--icon-size);
  }

  &.text-DxycAx {
    --md-text-button-container-height: var(--height);
    --md-text-button-leading-space: var(--x-spacing);
    --md-text-button-trailing-space: var(--x-spacing);
    --md-text-button-label-text-size: var(--font-size);
    --md-text-button-label-text-weight: var(--weight);
    --md-text-button-container-shape: var(--shape);
    --md-text-button-icon-size: var(--icon-size);
  }

  &.small-BgLNr3 {
    --font-size: var(--md-sys-typescale-label-small-size);
    --weight: var(--md-sys-typescale-label-small-weight);
    --height: 2.5em;
    --x-spacing: 1.25em;
    --shape: var(--md-sys-shape-corner-extra-small);
    --icon-size: 1.125em;
    --label-gap: .425em;
  }

  &.medium-JINmV_ {
    --font-size: var(--md-sys-typescale-label-medium-size);
    --weight: var(--md-sys-typescale-label-medium-weight);
    --height: 2.5em;
    --x-spacing: 1.75em;
    --shape: var(--md-sys-shape-corner-small);
    --icon-size: 1.0625em;
    --label-gap: .325em;
  }

  &.large-BQkKfC {
    --font-size: var(--md-sys-typescale-label-large-size);
    --weight: var(--md-sys-typescale-label-large-weight);
    --height: 2.5em;
    --x-spacing: 1.75em;
    --shape: var(--md-sys-shape-corner-medium);
    --icon-size: 1em;
    --label-gap: .25em;
  }

  &.read-only-aS8g9T {
    pointer-events: none;
  }
}

.container-bqgqm2 {
  box-sizing: content-box;
  color: var(--md-sys-color-on-surface);
  transition: border-radius var(--md-sys-motion-expressive-default-effects-transition), padding var(--md-sys-motion-expressive-default-effects-transition), background-color var(--md-sys-motion-expressive-default-effects-transition), color var(--md-sys-motion-expressive-default-effects-transition);

  &[md-shape="none"] {
    border-radius: 0;
    padding: 0;
  }

  &[md-shape="extra-small"] {
    border-radius: var(--md-sys-shape-corner-extra-small);
    padding: var(--md-sys-shape-corner-extra-small);
  }

  &[md-shape="small"] {
    border-radius: var(--md-sys-shape-corner-small);
    padding: calc(var(--md-sys-shape-corner-small) * 3);
  }

  &[md-shape="medium"] {
    border-radius: var(--md-sys-shape-corner-medium);
    padding: calc(var(--md-sys-shape-corner-medium) * 3);
  }

  &[md-shape="large"] {
    border-radius: var(--md-sys-shape-corner-large);
    padding: calc(var(--md-sys-shape-corner-large) * 3);
  }

  &[md-shape="extra-large"] {
    border-radius: var(--md-sys-shape-corner-extra-large);
    padding: calc(var(--md-sys-shape-corner-extra-large) * 3);
  }

  &[md-emphasis="none"] {
    background-color: none;
  }

  &[md-emphasis="lowest"] {
    background-color: var(--md-sys-color-surface-container-lowest);
  }

  &[md-emphasis="low"] {
    background-color: var(--md-sys-color-surface-container-low);
  }

  &[md-emphasis="medium"] {
    background-color: var(--md-sys-color-surface-container);
  }

  &[md-emphasis="high"] {
    background-color: var(--md-sys-color-surface-container-high);
  }

  &[md-emphasis="highest"] {
    background-color: var(--md-sys-color-surface-container-highest);
  }
}

h1.heading-oJKPG5, h2.heading-oJKPG5, h3.heading-oJKPG5, h4.heading-oJKPG5, h5.heading-oJKPG5, h6.heading-oJKPG5 {
  font-family: var(--md-ref-typeface-brand);
}

h1.heading-oJKPG5 {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 3.25rem;
  font-weight: 600;

  &.variant-bYKhgX {
    font-size: 2.5rem;
    font-weight: 800;
  }
}

h2.heading-oJKPG5 {
  margin-top: .375em;
  margin-bottom: .375em;
  font-size: 2.5rem;
  font-weight: 500;

  &.variant-bYKhgX {
    font-size: 2rem;
    font-weight: 700;
  }
}

h3.heading-oJKPG5 {
  margin-top: .25em;
  margin-bottom: .25em;
  font-size: 2rem;
  font-weight: 450;

  &.variant-bYKhgX {
    font-size: 1.75rem;
    font-weight: 600;
  }
}

h4.heading-oJKPG5 {
  margin-top: .1875rem;
  margin-bottom: .1875rem;
  font-size: 1.75rem;
  font-weight: 400;

  &.variant-bYKhgX {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

h5.heading-oJKPG5 {
  margin-top: .125rem;
  margin-bottom: .125rem;
  font-size: 1.5rem;
  font-weight: 350;

  &.variant-bYKhgX {
    font-size: 1.25rem;
    font-weight: 400;
  }
}

h6.heading-oJKPG5 {
  margin-top: .0625rem;
  margin-bottom: .0625rem;
  font-size: 1.25rem;
  font-weight: 300;

  &.variant-bYKhgX {
    font-size: 1rem;
    font-weight: 350;
  }
}

.icon-button-de3_O5 {
  flex-shrink: 0;

  &.standard-aS3hlp {
    --md-icon-button-icon-size: var(--icon-size);
    --md-icon-button-state-layer-height: calc(var(--icon-size) * 1.875);
    --md-icon-button-state-layer-width: calc(var(--icon-size) * 1.875);
  }

  &.filled-uQF7yy {
    --md-filled-icon-button-icon-size: var(--icon-size);
    --md-filled-icon-button-container-height: calc(var(--icon-size) * 1.875);
    --md-filled-icon-button-container-width: calc(var(--icon-size) * 1.875);
  }

  &.filled-tonal-DncJRc {
    --md-filled-tonal-icon-button-icon-size: var(--icon-size);
    --md-filled-tonal-icon-button-container-height: calc(var(--icon-size) * 1.875);
    --md-filled-tonal-icon-button-container-width: calc(var(--icon-size) * 1.875);
  }

  &.outlined-svqhnJ {
    --md-outlined-icon-button-icon-size: var(--icon-size);
    --md-outlined-icon-button-container-height: calc(var(--icon-size) * 1.875);
    --md-outlined-icon-button-container-width: calc(var(--icon-size) * 1.875);
  }

  &.small-syFxmh {
    --icon-size: 1.25rem;
  }

  &.medium-TwDlyd {
    --icon-size: 1.375rem;
  }

  &.large-rVcZHQ {
    --icon-size: 1.5rem;
  }
}

.form-zddz6M {
  position: relative;
}

.label-Rr_8sr {
  color: var(--md-sys-color-on-surface);
  font-family: var(--md-ref-typeface-brand);
  font-size: var(--md-sys-typescale-label-medium-size);
  font-weight: calc(var(--md-sys-typescale-label-medium-weight)  + 100);
  justify-content: space-between;
  align-items: center;
  display: flex;

  &[disabled] {
    opacity: var(--md-label-disabled-opacity, .38);
  }
}

.loading-indicator-xU56xN {
  aspect-ratio: 1;
  width: 1.5rem;
  height: auto;
}

.form-loading-indicator-pcy3IP {
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0;

  &:before {
    content: "";
    opacity: .8;
    background-color: var(--md-sys-color-background);
    position: absolute;
    inset: 0;
  }

  & > * {
    z-index: 1;
    width: 80%;
    max-width: 8rem;
    height: 80%;
    max-height: 8rem;
  }
}

.revealer-M8ij39 {
  vertical-align: top;
  display: inline-block;
  overflow: hidden;
}

.revealer-M8ij39 > :not(.letter-a1B1QN) {
  opacity: 0;
  transition: transform .4s cubic-bezier(.25, .46, .45, .94), opacity .4s cubic-bezier(.25, .46, .45, .94);
  transform: translateY(20%);
}

.revealer-M8ij39.revealed-hwsCEh > :not(.letter-a1B1QN) {
  opacity: 1;
  transform: translateY(0);
}

.letter-a1B1QN {
  opacity: 0;
  transition: transform .4s cubic-bezier(.25, .46, .45, .94), opacity .4s cubic-bezier(.25, .46, .45, .94);
  display: inline-block;
  transform: translateY(100%);
}

.revealer-M8ij39.revealed-hwsCEh .letter-a1B1QN {
  opacity: 1;
  transform: translateY(0);
}

.button-TYKn3o {
  &.error-YGUJ2x {
    --md-filled-button-container-color: var(--md-sys-color-error);
    --md-filled-button-label-text-color: var(--md-sys-color-on-error);
  }
}

.loading-icon-revealer-CGLZUj {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0;

  & svg {
    aspect-ratio: 1;
    width: 2em;
  }
}

.switch-xEyzNZ {
  --md-switch-track-width: 3.75rem;
  --md-switch-track-height: 2rem;
  --md-switch-handle-shape: calc(var(--md-sys-shape-corner-full)  - .2rem);
  --md-switch-track-color: transparent;
  --md-switch-track-outline-width: 1.5px;
}

.button-D7LB5o {
  font-size: var(--font-size);

  &.filled-fPO_gl {
    --md-filled-field-content-size: var(--font-size);
    --md-filled-field-label-text-size: var(--font-size);
    --md-filled-field-label-text-populated-size: calc(var(--font-size)  - .25em);
    --md-filled-field-content-line-height: var(--line-height);
    --md-filled-field-trailing-space: var(--x-spacing);
    --md-filled-field-leading-space: var(--x-spacing);
    --md-filled-field-top-space: var(--y-spacing);
    --md-filled-field-with-label-bottom-space: .5em;
    --md-filled-field-with-label-top-space: .5em;
    --md-filled-field-container-shape-start-start: var(--shape);
    --md-filled-field-container-shape-start-end: var(--shape);
    --md-filled-field-container-shape-end-start: var(--shape);
    --md-filled-field-container-shape-end-end: var(--shape);
    --md-filled-field-active-indicator-height: 0px;
    --md-filled-field-disabled-active-indicator-height: 0px;
    --md-filled-field-focus-active-indicator-height: 2px;
    --md-filled-field-hover-active-indicator-height: 0px;
    --md-filled-field-supporting-text-size: calc(var(--font-size)  - .25em);
  }

  &.outlined-GviBDs {
    --md-outlined-field-content-size: var(--font-size);
    --md-outlined-field-label-text-size: var(--font-size);
    --md-outlined-field-label-text-populated-size: calc(var(--font-size)  - .25em);
    --md-outlined-field-content-line-height: var(--line-height);
    --md-outlined-field-trailing-space: var(--x-spacing);
    --md-outlined-field-leading-space: var(--x-spacing);
    --md-outlined-field-top-space: var(--y-spacing);
    --md-outlined-field-bottom-space: var(--y-spacing);
    --md-outlined-field-container-shape-start-start: var(--shape);
    --md-outlined-field-container-shape-start-end: var(--shape);
    --md-outlined-field-container-shape-end-start: var(--shape);
    --md-outlined-field-container-shape-end-end: var(--shape);
    --md-outlined-field-supporting-text-size: calc(var(--font-size)  - .25em);
  }

  &.small-jC6lg8 {
    --font-size: var(--md-sys-typescale-label-small-size);
    --line-height: var(--md-sys-typescale-label-small-line-height);
    --shape: var(--md-sys-shape-corner-small);
    --x-spacing: 1em;
    --y-spacing: .625em;
    --leading-icon-size: 1.25em;
    --trailing-icon-size: 1.25em;

    &.filled-fPO_gl {
      --y-spacing: 1.375em;
    }
  }

  &.medium-x8zGDP {
    --font-size: var(--md-sys-typescale-label-medium-size);
    --line-height: var(--md-sys-typescale-label-medium-line-height);
    --shape: var(--md-sys-shape-corner-medium);
    --x-spacing: 1.25em;
    --y-spacing: .75em;
    --leading-icon-size: 1.25em;
    --trailing-icon-size: 1.25em;

    &.filled-fPO_gl {
      --y-spacing: 1.25em;
    }
  }

  &.large-JufjZh {
    --font-size: var(--md-sys-typescale-label-large-size);
    --line-height: var(--md-sys-typescale-label-large-line-height);
    --shape: var(--md-sys-shape-corner-large);
    --x-spacing: 1.375em;
    --y-spacing: .75em;
    --leading-icon-size: 1.25em;
    --trailing-icon-size: 1.25em;

    &.filled-fPO_gl {
      --y-spacing: 1.25em;
    }
  }

  &.read-only-wkoTEL {
    pointer-events: none;
  }

  & svg[slot="trailing-icon"] {
    width: var(--trailing-icon-size);
    height: var(--trailing-icon-size);
    font-size: var(--font-size);
  }

  & svg[slot="leading-icon"] {
    width: var(--leading-icon-size);
    height: var(--leading-icon-size);
    font-size: var(--font-size);
  }
}

@font-face {
  font-family: Ade Display;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Amient;
  font-weight: normal;
  font-style: normal;
}

.preview-u4rUin {
  --container-width: 1200px;
  max-width: var(--container-width);
  flex-direction: column;
  margin: 2em auto;
  display: flex;
  position: relative;

  & .heading-container-Lwc1sl {
    z-index: 100;
    width: var(--container-width);
    justify-content: center;
    align-self: center;
    align-items: center;
    display: flex;
    position: fixed;
    overflow: hidden;

    & > .background-qWbISC {
      background-image: linear-gradient(-30deg, var(--md-sys-color-primary-fixed) 0%, var(--md-sys-color-on-secondary) 80%);
      z-index: 0;
      flex: 0;
      max-width: none;
      position: absolute;
      inset: 0;

      &:after {
        content: "";
        mix-blend-mode: overlay;
        opacity: .18;
        background-position: center;
        position: absolute;
        inset: 0;
      }
    }

    & div {
      z-index: 1;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      display: flex;
      position: relative;

      & .text-QW6TqC {
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        height: fit-content;
        display: flex;

        & h1 {
          font-family: Amient, serif;
        }
      }

      & > * {
        margin: 0;
      }
    }
  }

  & .heading-ku_94J {
    margin-top: 1.5em;
  }

  & .container-xdsJaW {
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
    display: flex;
  }

  & .component-container-Gz3ACz {
    grid-template-columns: repeat(6, 1fr);
    display: grid;

    & > * {
      min-height: 6em;
      font-size: .675rem;
      display: flex;
    }
  }

  & .component-heading-_BMYNU {
    align-items: flex-start;
    gap: 2rem;
    display: flex;
  }

  & .component-button-EatsUJ {
    flex-direction: column;
    align-items: flex-start;
    display: flex;

    & > div {
      align-items: center;
      gap: .5em;
      display: flex;
    }
  }

  & .component-text-field-tbGFsr {
    gap: 1.5rem;

    & > div {
      align-items: flex-start;
      gap: 1em;
      display: flex;
    }
  }

  & .component-switch-_IE2vI {
    gap: 2rem;

    & > * {
      gap: 1rem;
    }
  }

  & .form-wEL8nl {
    align-self: center;
    display: flex;

    & .container-xdsJaW {
      align-items: unset;
      flex-direction: column;
      gap: 1rem;
      display: flex;

      & > :first-child {
        margin-bottom: .5rem;
      }

      & > :last-child {
        margin-top: .5rem;
      }
    }
  }

  & .component-revealer-LJIuw6 {
    & .loading-button-l4DRlI {
      position: relative;

      & > span {
        &:last-child {
          justify-content: center;
          align-items: center;
          display: flex;
          position: absolute;
          inset: 0;

          & svg {
            aspect-ratio: 1;
            width: 2em;
          }
        }
      }
    }
  }

  & .component-loading-indicator-rLXYBg {
    & > :first-child {
      width: 7em;
    }
  }
}

.icons-oAtiGS {
  display: none;
}

.success-icon-sh55vL {
  display: block;
  scale: 2.5;
}



