div.pane {
  width: 100%;
  border-radius: var(--md-sys-shape-corner-extra-large);
  --surface-blur: 36px;
  --surface-opacity: 0.85;
  --surface-grain-opacity: 0.2;

  >*[data-content] {
    padding: var(--spacing-large);
    box-sizing: border-box;
  }

  @media screen and (max-width: 700px) {
    >*[data-content] {
      padding: var(--spacing-small);
    }
  }
}

body[data-theme='dark'] div.pane {
  --surface-grain-opacity: 0.2;
}
