.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
  outline: none;
  vertical-align: middle;
  background-color: var(--background-color);
  color: var(--color);
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  border-radius: var(--expressive-shape, var(--shape));
  padding: var(--padding-y) var(--padding-x);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  transition: border-radius var(--md-sys-motion-expressive-fast-spatial-duration) var(--md-sys-motion-expressive-fast-spatial-curve);

  .state-layer {
    position: absolute;
    inset: 0;
    background-color: transparent;
    z-index: 0;

    .hover {
      background-color: currentColor;
      opacity: 0;
      position: absolute;
      inset: 0;
      transition: opacity var(--transition-duration) var(--transition-easing);
    }

    .ripple {
      position: absolute;
      border-radius: 50%;
      background-color: currentColor;
      pointer-events: none;
      opacity: 0;
      min-width: max(100%, 10rem);
      min-height: max(100%, 10rem);
      aspect-ratio: 1;
      translate: -50% -50%;
    }
  }

  .surface-layer {
    position: absolute;
    inset: 0;
    z-index: 1;
    border-radius: var(--shape);
    overflow: hidden;

    > div {
      width: 100%;
      height: 100%;

      --surface-opacity: 0;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 2;
    gap: var(--gap);
    font-size: var(--font-size);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--disabled-opacity);
  }

  @media (hover: hover) {
    &:hover:not(:disabled):not([is-readonly]) .state-layer .hover {
      opacity: var(--hover-state-opacity);
    }
  }

  &[is-expressive] {
    @media (hover: hover) {
      &:hover:not(:disabled):not([is-readonly]) {
        --expressive-shape: calc(var(--shape) * var(--expressive-radius-scale));
      }
    }
  }

  &:focus-visible:not(:disabled):not([is-readonly]) .state-layer .hover {
    opacity: var(--focus-state-opacity);
  }

  &[is-readonly] {
    cursor: default;
    pointer-events: none;
  }
}
